<h1>Supervisor <%= @supervisor.name %> Calendar</h1>

<nav class="tabs">
  <%= link_to 'Time-Off Requests', supervisor_path(@supervisor) %>
  <%= link_to 'Calendar', calendar_supervisor_path(@supervisor)  %>
  <%= link_to 'Employee Records', employee_records_supervisor_path(@supervisor) %>
</nav>

<section class="filters">
  <%= form_with url: calendar_supervisor_path(@supervisor),
                method: :get, local: true do |f| %>
    <label>Fiscal Year</label>
    <%= f.collection_select :fiscal_year_id,
                            @fiscal_years,
                            :id,
                            ->(fy){ "#{fy.start_date.year}-#{fy.end_date.year.to_s.last(2)}" },
                            { selected: @selected_fy } %>
    <%= f.submit 'Filter' %>
  <% end %>
</section>

<% @by_date.sort.each do |date, entries| %>
  <h3><%= date.strftime('%-m/%-d/%Y') %></h3>
  <ul>
    <% entries.each do |e| %>
      <li>
        <%= e[:employee_name] %>,
        <%= e[:amount] %> days,
        <%= e[:reason].humanize %>,
        <%= e[:status].to_s.humanize %>
      </li>
    <% end %>
  </ul>
<% end %>
