<!-- app/views/supervisors/employee_records.html.erb -->
<h1>Supervisor <%= @supervisor.name %> Views</h1>
<h2>Employee Record</h2>

<nav class="tabs">
  <%= link_to "Time-Off Requests", supervisor_path(@supervisor),           class: "inactive" %>
  <%= link_to "Calendar",          calendar_supervisor_path(@supervisor),  class: "inactive" %>
  <%= link_to "Employee Records",  employee_records_supervisor_path(@supervisor), class: "active" %>
</nav>

<section class="filters">
  <%= form_with url: employee_records_supervisor_path(@supervisor),
                method: :get,
                local: true do |f| %>
    <label>Fiscal Year</label>
    <%= f.collection_select :fiscal_year_id,
                            @fiscal_years,
                            :id,
                            ->(fy){ "#{fy.start_date.year}-#{fy.end_date.year.to_s.last(2)}" },
                            { selected: @selected_fy } %>
    <%= f.submit "Filter" %>
  <% end %>
</section>

<div
  id="supervisor-dashboard"
  data-page="records"
  data-supervisor='<%= raw @supervisor.to_json %>'
  data-fiscal-years='<%= raw @fiscal_years.to_json %>'
  data-selected-fy='<%= @selected_fy %>'
  data-status-options='[]'
  data-selected-status=''
  data-time-off-requests='[]'
  data-by-date='{}'
  data-fye-records='<%= raw @fye_records.to_json %>'
></div>

<pre style="background:#f9f9f9; padding:1em; white-space:pre-wrap;">
Supervisor JSON:
<%= raw @supervisor.to_json %>

FiscalYears JSON:
<%= raw @fiscal_years.to_json %>

Selected FY: <%= @selected_fy.inspect %>

FiscalYearEmployee Records JSON:
<%= raw @fye_records.to_json %>
</pre>

<%= vite_javascript_tag "entrypoints/application.jsx", type: "module" %>