>Supervisor <%= @supervisor.name %> Dashboard</h1>

<nav class="tabs">
  <%= link_to "Time-Off Requests", supervisor_path(@supervisor), class: "active" %>
  <%= link_to "Calendar",          calendar_supervisor_path(@supervisor), class: "inactive" %>
  <%= link_to "Employee Records",  employee_records_supervisor_path(@supervisor), class: "inactive" %>
</nav>

<section class="filters">
  <%= form_with url: supervisor_path(@supervisor),
                method: :get,
                local: true do |f| %>

    <label>Fiscal Year</label>
    <%= f.collection_select :fiscal_year_id,
                            @fiscal_years,
                            :id,
                            ->(fy) { "#{fy.start_date.year}-#{fy.end_date.year.to_s.last(2)}" },
                            { include_blank: "All" },
                            { selected: @selected_fy } %>

    <label>Requests</label>
    <%= f.select :status,
                 options_for_select(@status_options, @selected_status) %>

    <%= f.submit "Filter" %>
  <% end %>
</section>

<table>
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Date Submitted</th>
      <th>Reason</th>
      <th>From</th>
      <th>To</th>
      <th>FMLA</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @time_off_requests.each do |t| %>
      <tr>
        <td><%= t.fiscal_year_employee.employee_name %></td>
        <td><%= t.request_date.strftime("%-m/%-d/%Y") %></td>
        <td><%= t.reason.humanize %></td>
        <td><%= t.from_date.strftime("%-m/%-d/%Y") %></td>
        <td><%= t.to_date.strftime("%-m/%-d/%Y") %></td>
        <td><%= "X" if t.is_fmla %></td>
        <td><%= t.status_caption %></td>
      </tr>
    <% end %>
  </tbody>
</table>
