<div id="<%= dom_id employee %>">
  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= employee.password %>
  </p>

  <p>
    <strong>Hire date:</strong>
    <%= employee.hire_date %>
  </p>

  <p>
    <strong>Termination date:</strong>
    <%= employee.termination_date %>
  </p>

  <p>
    <strong>Is administrator:</strong>
    <%= employee.is_administrator %>
  </p>

  <p>
    <strong>Is supervisor:</strong>
    <%= employee.is_supervisor %>
  </p>

  <p>
    <strong>Supervisor:</strong>
    <%= employee.supervisor_id %>
  </p>

</div>
