<div id="employee-dashboard"
     data-employee-id="<%= @employee.id %>"
     data-employee-name="<%= "#{@employee.first_name} #{@employee.last_name}" %>"
</div>

<%= tag.script raw(@time_off_payload.to_json), id: "employee-requests-data", type: "application/json" %>
<%= tag.script raw(@fiscal_years.to_json), id: "fiscal-years-data", type: "application/json" %>
<%= tag.script raw(@summary.to_json), id: "employee-summary-data", type: "application/json" %> 