<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Email</th>
      <th>Hire Date</th>
      <th>Supervisor Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.hire_date %></td>
        <td><%= employee.supervisor_name %><td>
        <td>
          <%= link_to 'Show', employee_path(employee) %> |
          <%= link_to 'Edit', edit_employee_path(employee) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %> | 
<%= link_to 'View Administrators', administrators_path%> | 
<%= link_to 'View Supervisors', supervisors_path %>