<div id="time-off-request-form"
     data-request="<%= @request.to_json(include: :dates) %>"
     data-fiscal-years="<%= @fiscal_years.to_json %>"
     data-employee-id="<%= @employee.id %>"
     data-fiscal-year-employee-id="<%= @fiscal_year_employee.id %>"
     data-supervisor-id="<%= @employee.supervisor_id %>">
</div>