<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Employee Time Off Administration System" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
  </head>

  <body>
  <%= yield %>

  <%= vite_client_tag %>
  <%= vite_javascript_tag 'application.jsx' %>
</body>
</html>