<!DOCTYPE html>
<html>
  <head>
    <title>Employee Time-Off System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag "entrypoints/application.jsx", type: "module" %>
  </head>

  <body>
  <div id="react-layout-header"
  data-logged-in="<%= user_signed_in? %>"
  data-company-name="<%= Company.first&.name || 'Your Company' %>"></div>
    <%= yield %>
  </body>
</html>